.league-selector-container {
   position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.choose-country-league {

}
.league-list {

}
