.app-container {
   height: 100vh;
   width: 100vw;
   position: relative;
}

.app-content {
   height: 95vh;
   width: 95vw;
   position: absolute;
   overflow: hidden;
   border: 2px solid rgb(0, 255, 76);
   align-items: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.app-league-selector-container {
   width: 90vw;
   height: 10%;
   position: relative;
   top: 2%;
   left: 50%;
   border: 2px solid black;
   transform: translateX(-50%);
   flex: 1;
}

.app-main-content-panel {
   position: absolute;
   flex: 10;
   border: 2px solid red;
   width: 90vw;
   height: 80vh;
   left: 50%;
   top: 15%;
   transform: translateX(-50%);
}
